@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-primary-200: #f0ecec;
    --clr-primary-400: #c0bbbb;
    --clr-primary-700: #3e5472;
    --clr-primary-800: #2D4059;

    --clr-secondary-200: #FFD460;
    --clr-secondary-600: rgb(218, 138, 98);
    --clr-secondary-800: rgb(240, 123, 63);

    --clr-accent-200: #f78181;
    --clr-accent-500: #EA5455;


    --fs-xs: 0.4rem;
    --fs-s: 0.8rem;
    --fs-m: 1.1rem;
    --fs-l: 1.6rem;
    --fs-xl: 2.8em;

    --ff-primary: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--clr-primary-800);
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-500);
    outline: 1px solid var(--clr-primary-800);
}

.box-shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

a {
    color: var(--clr-primary-200);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: var(--clr-primary-400);
    transition: 0.20s ease-in-out;
}

.mw-30 {
    min-width: 30%;
}

.mw-40 {
    min-width: 40%;
}

.mw-50 {
    min-width: 50%;
}

.mw-60 {
    min-width: 60%;
}

.success {
    background-color: rgb(28, 163, 28);
}

.success:hover {
    background-color: rgb(38, 138, 38);
    transition: 0.40s ease-in-out;
}

.danger {
    background-color: rgb(202, 22, 22);
}

.danger:hover {
    background-color: rgb(167, 26, 26);
    transition: 0.40s ease-in-out;
}

@media only screen and (max-width: 1024px) {
    :root {
        --fs-xs: 0.3rem;
        --fs-s: 0.7rem;
        --fs-m: 0.9rem;
        --fs-l: 1.2rem;
        --fs-xl: 2em;
    }
}

@media only screen and (max-width: 640px) {
    :root {
        --fs-xs: 0.1rem;
        --fs-s: 0.5rem;
        --fs-m: 0.7rem;
        --fs-l: 0.9rem;
        --fs-xl: 1.6em;
    }
}
